<main class="w-full max-w-6xl mx-auto mt-8 p-4">
  <!-- User Operations -->
  <div class="mb-4">
    <button class="w-full flex items-center justify-between bg-violet-200 p-4 rounded-lg shadow mb-2"
            type="button"
            (click)="toggleDropdown('user')">
      <span class="text-lg font-medium text-gray-800">Kullanıcı İşlemleri</span>
      <span>&#9660;</span> <!-- Down Arrow Icon -->
    </button>
    <div *ngIf="isDropdownOpen('user')" class="bg-white shadow rounded p-4">
      <div *ngIf="hasReadPermission('User Authority Create')" class="flex items-center justify-between mb-4">
        <a [routerLink]="['/user-authority-create']" class="flex items-center">
          <div class="w-12 h-12 bg-orange-400 rounded-full flex items-center justify-center text-white text-2xl">💬</div>
          <span class="ml-4 text-gray-700 font-medium">Yetki Yönetimi Oluştur</span>
        </a>
      </div>
      <div *ngIf="hasReadPermission('User Authority List')" class="flex items-center justify-between mb-4">
        <a [routerLink]="['/user-authority-list']" class="flex items-center">
          <div class="w-12 h-12 bg-yellow-400 rounded-full flex items-center justify-center text-white text-2xl">📋</div>
          <span class="ml-4 text-gray-700 font-medium">Yetki Yönetimi Listele</span>
        </a>
      </div>
      <div *ngIf="hasReadPermission('Add User')" class="flex items-center justify-between mb-4">
        <a [routerLink]="['/add-user']" class="flex items-center">
          <div class="w-12 h-12 bg-violet-400 rounded-full flex items-center justify-center text-white text-2xl">👤</div>
          <span class="ml-4 text-gray-700 font-medium">Kullanıcı Ekle</span>
        </a>
      </div>
      <div *ngIf="hasReadPermission('Manage User')" class="flex items-center justify-between">
        <a [routerLink]="['/manage-user']" class="flex items-center">
          <div class="w-12 h-12 bg-violet-600 rounded-full flex items-center justify-center text-white text-2xl">👥</div>
          <span class="ml-4 text-gray-700 font-medium">Kullanıcıları Düzenle</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Supplier Operations -->
  <div class="mb-4">
    <button class="w-full flex items-center justify-between bg-violet-200 p-4 rounded-lg shadow mb-2"
            type="button"
            (click)="toggleDropdown('supplier')">
      <span class="text-lg font-medium text-gray-800">Tedarikçi İşlemleri</span>
      <span>&#9660;</span> <!-- Down Arrow Icon -->
    </button>
    <div *ngIf="isDropdownOpen('supplier')" class="bg-white shadow rounded p-4">
      <div *ngIf="hasReadPermission('Supplier List')" class="flex items-center justify-between mb-4">
        <a [routerLink]="['/suppliers']" class="flex items-center">
          <div class="w-12 h-12 bg-yellow-500 rounded-full flex items-center justify-center text-white text-2xl">🏢</div>
          <span class="ml-4 text-gray-700 font-medium">Tedarikçi Listesi</span>
        </a>
      </div>
      <div *ngIf="hasReadPermission('Supplier Performance')" class="flex items-center justify-between">
        <a [routerLink]="['/suppliers/performance']" class="flex items-center">
          <div class="w-12 h-12 bg-orange-500 rounded-full flex items-center justify-center text-white text-2xl">📈</div>
          <span class="ml-4 text-gray-700 font-medium">Tedarikçi Performansı</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Category Operations -->
  <div class="mb-4">
    <button class="w-full flex items-center justify-between bg-violet-200 p-4 rounded-lg shadow mb-2"
            type="button"
            (click)="toggleDropdown('category')">
      <span class="text-lg font-medium text-gray-800">Kategori İşlemleri</span>
      <span>&#9660;</span> <!-- Down Arrow Icon -->
    </button>
    <div *ngIf="isDropdownOpen('category')" class="bg-white shadow rounded p-4">
      <div class="flex items-center justify-between mb-4">
        <a [routerLink]="['/category']" class="flex items-center">
          <div class="w-12 h-12 bg-yellow-500 rounded-full flex items-center justify-center text-white text-2xl">🏢</div>
          <span class="ml-4 text-gray-700 font-medium">Kategori Listesi</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Product Operations -->
  <div class="mb-4">
    <button class="w-full flex items-center justify-between bg-violet-200 p-4 rounded-lg shadow mb-2"
            type="button"
            (click)="toggleDropdown('product')">
      <span class="text-lg font-medium text-gray-800">Ürün İşlemleri</span>
      <span>&#9660;</span> <!-- Down Arrow Icon -->
    </button>
    <div *ngIf="isDropdownOpen('product')" class="bg-white shadow rounded p-4">
      <!-- Product List -->
      <div *ngIf="hasReadPermission('Product List')" class="flex items-center justify-between mb-4">
        <a [routerLink]="['/products']" class="flex items-center">
          <div class="w-12 h-12 bg-indigo-400 rounded-full flex items-center justify-center text-white text-2xl">📦</div>
          <span class="ml-4 text-gray-700 font-medium">Ürün Listesi</span>
        </a>
      </div>
      <!-- Product Create -->
      <div *ngIf="hasReadPermission('Product Create')" class="flex items-center justify-between">
        <a [routerLink]="['/products/create']" class="flex items-center">
          <div class="w-12 h-12 bg-green-400 rounded-full flex items-center justify-center text-white text-2xl">➕</div>
          <span class="ml-4 text-gray-700 font-medium">Yeni Ürün Ekle</span>
        </a>
      </div>
    </div>
  </div>


  <!-- Stock Operations -->
  <div class="mb-4">
    <button class="w-full flex items-center justify-between bg-violet-200 p-4 rounded-lg shadow mb-2"
            type="button"
            (click)="toggleDropdown('stock')">
      <span class="text-lg font-medium text-gray-800">Stok İşlemleri</span>
      <span>&#9660;</span> <!-- Down Arrow Icon -->
    </button>
    <div *ngIf="isDropdownOpen('stock')" class="bg-white shadow rounded p-4">
      <!-- Stock Management -->
      <div *ngIf="hasReadPermission('Stock Management')" class="flex items-center justify-between mb-4">
        <a [routerLink]="['/stocks/management']" class="flex items-center">
          <div class="w-12 h-12 bg-red-400 rounded-full flex items-center justify-center text-white text-2xl">📊</div>
          <span class="ml-4 text-gray-700 font-medium">Stok Yönetimi</span>
        </a>
      </div>
      <!-- Stock Create -->
      <div *ngIf="hasReadPermission('Stock Create')" class="flex items-center justify-between">
        <a [routerLink]="['/stocks/create']" class="flex items-center">
          <div class="w-12 h-12 bg-blue-400 rounded-full flex items-center justify-center text-white text-2xl">📝</div>
          <span class="ml-4 text-gray-700 font-medium">Yeni Stok Ekle</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Purchasing Operations -->
  <div class="mb-4">
    <button class="w-full flex items-center justify-between bg-violet-200 p-4 rounded-lg shadow mb-2"
            type="button"
            (click)="toggleDropdown('purchase')">
      <span class="text-lg font-medium text-gray-800">Satın Alma İşlemleri</span>
      <span>&#9660;</span> <!-- Down Arrow Icon -->
    </button>
    <div *ngIf="isDropdownOpen('purchase')" class="bg-white shadow rounded p-4">
      <div *ngIf="hasReadPermission('Purchase Request Create')" class="flex items-center justify-between mb-4">
        <a [routerLink]="['/purchase/create']" class="flex items-center">
          <div class="w-12 h-12 bg-green-500 rounded-full flex items-center justify-center text-white text-2xl">🛒</div>
          <span class="ml-4 text-gray-700 font-medium">Satın Alma Talebi</span>
        </a>
      </div>
      <div *ngIf="hasReadPermission('Purchase Request Approval')" class="flex items-center justify-between">
        <a [routerLink]="['/purchase/approval']" class="flex items-center">
          <div class="w-12 h-12 bg-teal-400 rounded-full flex items-center justify-center text-white text-2xl">✅</div>
          <span class="ml-4 text-gray-700 font-medium">Talep Onay</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Quality Control Operations -->
  <div class="mb-4">
    <button class="w-full flex items-center justify-between bg-violet-200 p-4 rounded-lg shadow mb-2"
            type="button"
            (click)="toggleDropdown('quality')">
      <span class="text-lg font-medium text-gray-800">Kalite Kontrol İşlemleri</span>
      <span>&#9660;</span> <!-- Down Arrow Icon -->
    </button>

    <!-- Kalite Kontrol Listesi -->
    <div *ngIf="isDropdownOpen('quality')" class="bg-white shadow rounded p-4">
      <div *ngIf="hasReadPermission('Quality Control Test Results')" class="flex items-center justify-between">
        <a [routerLink]="['/quality/create']" class="flex items-center">
          <div class="w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center text-white text-2xl">📋</div>
          <span class="ml-4 text-gray-700 font-medium">Kalite Kontrol Listesi</span>
        </a>
      </div>
    </div>

    <!-- Kalite Kontrol Sonuçları -->
    <div *ngIf="isDropdownOpen('quality')" class="bg-white shadow rounded p-4">
      <div *ngIf="hasReadPermission('Quality Control Test Results')" class="flex items-center justify-between">
        <a [routerLink]="['/quality/results']" class="flex items-center">
          <div class="w-12 h-12 bg-green-500 rounded-full flex items-center justify-center text-white text-2xl">📊</div>
          <span class="ml-4 text-gray-700 font-medium">Kalite Kontrol Sonuçları</span>
        </a>
      </div>
    </div>

    <!-- Kalite Kontrol Standart Tablosu (AQL) -->
    <div *ngIf="isDropdownOpen('quality')" class="bg-white shadow rounded p-4">
      <div class="flex items-center justify-between">
        <a [routerLink]="['/quality/table']" class="flex items-center">
          <div class="w-12 h-12 bg-orange-500 rounded-full flex items-center justify-center text-white text-2xl">📈</div>
          <span class="ml-4 text-gray-700 font-medium">Kalite Kontrol Standart Tablosu (AQL)</span>
        </a>
      </div>
    </div>
  </div>


</main>
