<div class="p-8">
  <h1 class="text-2xl font-bold mb-4">Kullanıcı Yönetimi</h1>

  <form class="space-y-6" (ngSubmit)="handleCreateUser()">
    <!-- First Name and Last Name -->
    <div class="flex space-x-4">
      <input
        type="text"
        placeholder="Ad Girin"
        [(ngModel)]="user.firstName"
        name="firstName"
        class="border rounded-lg px-4 py-2 w-1/2 focus:ring focus:ring-blue-500 focus:outline-none"
        required
      />
      <input
        type="text"
        placeholder="Soyad Girin"
        [(ngModel)]="user.lastName"
        name="lastName"
        class="border rounded-lg px-4 py-2 w-1/2 focus:ring focus:ring-blue-500 focus:outline-none"
        required
      />
    </div>

    <!-- Email and Password -->
    <div class="flex space-x-4">
      <input
        type="email"
        placeholder="E-posta Girin"
        [(ngModel)]="user.email"
        name="email"
        class="border rounded-lg px-4 py-2 w-1/2 focus:ring focus:ring-blue-500 focus:outline-none"
        required
      />
      <input
        type="password"
        placeholder="Şifre Girin"
        [(ngModel)]="user.password"
        name="password"
        class="border rounded-lg px-4 py-2 w-1/2 focus:ring focus:ring-blue-500 focus:outline-none"
        required
      />
    </div>

    <!-- Role -->
    <div class="flex space-x-4">
      <select
        [(ngModel)]="user.roleId"
        name="role"
        class="border rounded-lg px-4 py-2 w-1/2 focus:ring focus:ring-blue-500 focus:outline-none"
        required
      >
        <option value="">Kullanıcı Türü Seçin</option>
        <option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </option>
      </select>
    </div>

    <!-- Authority Group -->
    <div class="flex space-x-4">
      <select
        [(ngModel)]="user.authorityGroupId"
        name="authorityGroupId"
        class="border rounded-lg px-4 py-2 w-full focus:ring focus:ring-blue-500 focus:outline-none"
        required
      >
        <option value="">Yetki Grubu Seçin</option>
        <option *ngFor="let authority of authorities" [value]="authority.id">
          {{ authority.name }}
        </option>
      </select>
    </div>

    <!-- Status -->
    <div class="flex space-x-4">
      <select
        [(ngModel)]="user.status"
        name="status"
        class="border rounded-lg px-4 py-2 w-1/2 focus:ring focus:ring-blue-500 focus:outline-none"
        required
      >
        <option value="">Durum Seçin</option>
        <option value="active">Aktif</option>
        <option value="passive">Pasif</option>
      </select>
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 focus:outline-none"
      >
        Kullanıcı Ekle
      </button>
    </div>
  </form>
</div>
