<section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <!-- Product Images -->
      <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
        <img
          *ngIf="sanitizedImage1"
          [src]="sanitizedImage1"
          alt="Product Image 1"
          class="w-full max-h-52 rounded-lg mb-4"
        />
        <img
          *ngIf="sanitizedImage2"
          [src]="sanitizedImage2"
          alt="Product Image 2"
          class="w-full max-h-52 rounded-lg"
        />
      </div>

      <!-- Product Details -->
      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
        >
          {{ product?.productName }}
        </h1>

        <p class="mt-2 text-gray-500 dark:text-gray-400">
          <strong>Kod:</strong> {{ product?.code }}
        </p>

        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white"
          >
            {{ product?.salePrice | currency:'TRY' }}
          </p>

          <p
            class="text-lg font-medium text-gray-500 sm:mt-0 dark:text-gray-400"
          >
            <del *ngIf="product?.purchasePrice">
              {{ product?.purchasePrice | currency:'TRY' }}
            </del>
          </p>
        </div>

        <div class="mt-6">
          <strong class="block text-gray-900 dark:text-white">
            Kategori:
          </strong>
          <p class="text-gray-500 dark:text-gray-400">
            {{ product?.categoryName }}
          </p>
        </div>

        <div class="mt-6">
          <strong class="block text-gray-900 dark:text-white">Durumu:</strong>
          <ul class="text-gray-500 dark:text-gray-400">
            <li *ngFor="let status of product?.productStatuses">
              {{ status }}
            </li>
          </ul>
        </div>

        <div class="mt-6">
          <strong class="block text-gray-900 dark:text-white">Tedarikçiler:</strong>
          <ul class="text-gray-500 dark:text-gray-400">
            <li *ngFor="let supplier of product?.supplierNames">
              {{ supplier }}
            </li>
          </ul>
        </div>

        <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

        <p class="mb-6 text-gray-500 dark:text-gray-400">
          {{ product?.description }}
        </p>

        <div class="sm:gap-4 sm:items-center sm:flex">
          <button
            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            Favorilere Ekle
          </button>

          <button
            class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
          >
            Sepete Ekle
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
