  <div class="bg-white">
    <div class="pt-6">
      <!-- Breadcrumb -->
      <nav aria-label="Breadcrumb">
        <ol class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <li>
            <a [routerLink]="['/products']" class="text-sm font-medium text-gray-500 hover:text-gray-600">Ana Sayfa</a>
          </li>
        </ol>
      </nav>

      <!-- Image Gallery -->
      <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:max-w-7xl lg:grid lg:grid-cols-3 lg:gap-x-8 lg:px-8">
        <img
          *ngIf="sanitizedImage1"
          [src]="sanitizedImage1"
          alt="Ürün Görseli 1"
          class="rounded-lg object-cover lg:col-span-1"
        />
        <div class="lg:grid lg:grid-rows-2 lg:gap-y-4 lg:col-span-2">
          <img
            *ngIf="sanitizedImage2"
            [src]="sanitizedImage2"
            alt="Ürün Görseli 2"
            class="rounded-lg object-cover"
          />
        </div>
      </div>

      <!-- Product Info -->
      <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:grid lg:grid-cols-3 lg:gap-x-8 lg:px-8 lg:pt-10">
        <div class="lg:col-span-2">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ product?.productName }}</h1>
          <p class="mt-4 text-gray-500"><strong>Kod:</strong> {{ product?.code }}</p>
          <p class="mt-4 text-lg text-gray-500"><strong>Kategori:</strong> {{ product?.categoryName }}</p>

          <!-- Durumlar -->
          <div *ngIf="product?.productStatuses?.length">
            <p class="mt-4 text-lg text-gray-500"><strong>Durum:</strong></p>
            <ul class="mt-2">
              <li *ngFor="let status of product?.productStatuses" class="text-gray-500">
                {{ status }}
              </li>
            </ul>
          </div>
          <p *ngIf="!product?.productStatuses?.length" class="mt-4 text-lg text-gray-500">
            <strong>Durum:</strong> Durum bilgisi yok.
          </p>
        </div>
        <div>
          <p class="text-3xl font-bold tracking-tight text-gray-900">{{ product?.salePrice | currency:'TRY' }}</p>
          <p *ngIf="product?.purchasePrice" class="mt-2 text-gray-500">
            <del>{{ product?.purchasePrice | currency:'TRY' }}</del>
          </p>
        </div>
      </div>


      <!-- Documents Section -->
      <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="mt-10 text-lg font-bold text-gray-900">Belgeler</h2>
        <ul class="mt-4 space-y-2">
          <li *ngFor="let document of documents">
            <a
              (click)="downloadDocument(document.content, document.name)"
              class="text-blue-600 hover:underline"
            >
              {{ document.name }}
            </a>
          </li>
        </ul>
      </div>

      <!-- Quality Parameters -->
      <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 mb-16">
        <h2 class="mt-10 text-lg font-bold text-gray-900">Kalite Parametreleri</h2>
        <table class="mt-4 w-full table-auto border-collapse border border-gray-200">
          <thead class="bg-gray-100">
          <tr>
            <th class="border border-gray-300 px-4 py-2 text-left text-sm font-medium text-gray-700">Ad</th>
            <th class="border border-gray-300 px-4 py-2 text-left text-sm font-medium text-gray-700">Açıklama</th>
            <th class="border border-gray-300 px-4 py-2 text-left text-sm font-medium text-gray-700">Varsayılan Değer</th>
            <th class="border border-gray-300 px-4 py-2 text-left text-sm font-medium text-gray-700">Min Değer</th>
            <th class="border border-gray-300 px-4 py-2 text-left text-sm font-medium text-gray-700">Max Değer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let param of qualityParameters">
            <td class="border border-gray-300 px-4 py-2 text-sm text-gray-700">{{ param.name }}</td>
            <td class="border border-gray-300 px-4 py-2 text-sm text-gray-700">{{ param.description }}</td>
            <td class="border border-gray-300 px-4 py-2 text-sm text-gray-700">{{ param.defaultValue }}</td>
            <td class="border border-gray-300 px-4 py-2 text-sm text-gray-700">{{ param.minValue }}</td>
            <td class="border border-gray-300 px-4 py-2 text-sm text-gray-700">{{ param.maxValue }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
