<div class="p-4">
  <table class="min-w-full border">
    <thead>
    <tr>
      <th class="border px-4 py-2" rowspan="2">Min</th>
      <th class="border px-4 py-2" rowspan="2">Max</th>
      <th class="border px-4 py-2" colspan="3">1. Seviye Kontrol</th>
      <th class="border px-4 py-2" colspan="3">2. Seviye Kontrol</th>
      <th class="border px-4 py-2" colspan="3">3. Seviye Kontrol</th>
      <th class="border px-4 py-2" colspan="3">4. Seviye Kontrol</th>
    </tr>
    <tr>
      <th class="border px-4 py-2">Numune Sayısı</th>
      <th class="border px-4 py-2">Kabul</th>
      <th class="border px-4 py-2">Red</th>
      <th class="border px-4 py-2">Numune Sayısı</th>
      <th class="border px-4 py-2">Kabul</th>
      <th class="border px-4 py-2">Red</th>
      <th class="border px-4 py-2">Numune Sayısı</th>
      <th class="border px-4 py-2">Kabul</th>
      <th class="border px-4 py-2">Red</th>
      <th class="border px-4 py-2">Numune Sayısı</th>
      <th class="border px-4 py-2">Kabul</th>
      <th class="border px-4 py-2">Red</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of groupedData">
      <td class="border px-4 py-2">{{row.partAMin}}</td>
      <td class="border px-4 py-2">{{row.partAMax}}</td>

      <td class="border px-4 py-2">{{row.level1?.sampleSize}}</td>
      <td class="border px-4 py-2">{{row.level1?.acceptedLimit}}</td>
      <td class="border px-4 py-2">{{row.level1?.rejectedLimit}}</td>

      <td class="border px-4 py-2">{{row.level2?.sampleSize}}</td>
      <td class="border px-4 py-2">{{row.level2?.acceptedLimit}}</td>
      <td class="border px-4 py-2">{{row.level2?.rejectedLimit}}</td>

      <td class="border px-4 py-2">{{row.level3?.sampleSize}}</td>
      <td class="border px-4 py-2">{{row.level3?.acceptedLimit}}</td>
      <td class="border px-4 py-2">{{row.level3?.rejectedLimit}}</td>

      <td class="border px-4 py-2">{{row.level4?.sampleSize}}</td>
      <td class="border px-4 py-2">{{row.level4?.acceptedLimit}}</td>
      <td class="border px-4 py-2">{{row.level4?.rejectedLimit}}</td>
    </tr>
    </tbody>
  </table>
</div>
